<div id="characters">
  <div class="search-box">
    <p class="search-text">
      Busca de personagens
    </p>
    <div class="search-name">
      <p class="character-name">
        Nome do personagem
      </p>
      <input
        matInput
        [formControl]="characterName"
        id="characterName"
        class="search-field"
        type="text"
        name="search-field"
        placeholder="Pesquisar"
      />
    </div>
  </div>
  <br />
  <div class="character-list">
    <mat-list style="overflow: auto; padding: 0;">
      <div fxLayout="row" class="character-header">
        <p matSubheader>Personagem</p>
      </div>

      <!-- <div fxLayout="row" class="character-header">
        <div fxLayout="column">
          <p>Personagem</p>
        </div>
        <div fxLayout="column">
          <p>Descrição</p>
        </div>
      </div> -->
      <div class="character-box">
        <mat-list-item
          class="character-card"
          *ngFor="let character of characterList; let i = index"
        >
          <div fxLayout="column" class="character-image">
            <img [src]="imageList[i]" class="image" />
          </div>
          <div fxLayout="column" class="character-name">
            <h3 matLine>{{ character.name }}</h3>
          </div>
          <div fxLayout="column" class="character-desc" fxHide fxShow.gt-sm>
            <span>
              {{ character.description }}
            </span>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
</div>

<footer class="characters-footer">
  <div class="page-navigation" fxLayout="row">
    <!-- <button><<</button>
    <button><</button> -->
    <button class="page-button">1</button>
    <button class="page-button">2</button>
    <button class="page-button">3</button>
    <button class="page-button">4</button>
    <button class="page-button">5</button>
    <!-- <button>></button>
    <button>>></button> -->
  </div>
</footer>
