<div id="characters">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading"
    color="accent"
  ></mat-progress-bar>

  <div class="search-box">
    <span class="search-title">
      Busca de personagens
    </span>
    <div class="search-desc">
      <span style="white-space: nowrap;">
        Nome do personagem
      </span>
      <input
        [formControl]="characterName"
        id="characterName"
        class="search-field"
        type="text"
        name="search-field"
        placeholder="Pesquisar"
      />
    </div>
  </div>

  <div class="character-list">
    <div fxLayout="row" fxShow fxHide.lt-sm class="character-header">
      <span style="width: 340px;">
        Personagem
      </span>
      <span style="width: 70%;">
        Descrição
      </span>
    </div>

    <mat-list class="character-box">
      <mat-list-item
        class="character-card"
        *ngFor="let character of characterList; let i = index"
        [routerLink]="character.id.toString()"
      >
        <div fxLayout="column" class="character-image">
          <img
            [src]="imageList[i]"
            alt="assets/image/marvel.png"
            class="image"
          />
        </div>
        <div fxLayout="column" class="character-name">
          <p>{{ character.name }}</p>
        </div>
        <div fxLayout="column" class="character-desc" fxShow fxHide.lt-sm>
          <p>
            {{
              character.description ? character.description : 'Sem descrição'
            }}
          </p>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <footer class="characters-footer">
    <div class="page-navigation" fxLayoutAlign="center">
      <div class="navigation-arrow">
        <button
          mat-button
          *ngIf="currentPage > 2"
          (click)="selectPage(1)"
          fxShow
          fxHide.lt-sm
        >
          <<
        </button>
        <button
          mat-button
          *ngIf="currentPage > 1"
          (click)="selectPage(currentPage - 1)"
        >
          <
        </button>
      </div>
      <div *ngFor="let page of pages" fxShow fxHide.lt-sm>
        <button
          mat-button
          *ngIf="page > 0 && page <= totalPages"
          (click)="selectPage(page)"
          class="page-button"
          [ngClass]="{ 'selected-page': page == currentPage }"
        >
          {{ page }}
        </button>
      </div>

      <div fxHide fxShow.lt-sm>
        <button
          *ngIf="currentPage - 1 > 0"
          mat-button
          class="page-button"
          (click)="selectPage(1)"
        >
          1
        </button>
        <button mat-button class="page-button selected-page">
          {{ currentPage }}
        </button>
        <button
          *ngIf="currentPage != totalPages"
          mat-button
          class="page-button"
          (click)="selectPage(totalPages)"
        >
          {{ totalPages }}
        </button>
      </div>

      <div class="navigation-arrow">
        <button
          mat-button
          (click)="selectPage(currentPage + 1)"
          *ngIf="currentPage < totalPages"
        >
          >
        </button>
        <button
          mat-button
          (click)="selectPage(totalPages)"
          *ngIf="currentPage < totalPages - 1"
          fxShow
          fxHide.lt-sm
        >
          >>
        </button>
      </div>
    </div>
  </footer>
</div>
