<div id="characters">
  <div class="search-box">
    <span class="search-text">
      Busca de personagens
    </span>
    <div class="search-name">
      <span class="character-name">
        Nome do personagem
      </span>
      <input
        matInput
        [formControl]="characterName"
        id="characterName"
        class="search-field"
        type="text"
        name="search-field"
        placeholder="Pesquisar"
      />
    </div>
  </div>

  <div class="character-list">
    <div fxLayout="row" class="character-header">
      <p>
        Personagem
      </p>
      <p>
        Descrição
      </p>
    </div>
    <mat-list style="overflow: auto; padding: 0;">
      <div class="character-box">
        <mat-list-item
          class="character-card"
          *ngFor="let character of characterList; let i = index"
        >
          <div fxLayout="column" class="character-image">
            <img [src]="imageList[i]" class="image" />
          </div>
          <div fxLayout="column" class="character-name">
            <h3 matLine>{{ character.name }}</h3>
          </div>
          <div fxLayout="column" class="character-desc" fxShow fxHide.lt-sm>
            <p>
              {{ character.description }}
            </p>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
</div>

<div class="characters-footer">
  <div class="page-navigation" fxLayoutAlign="center">
    <div class="navigation-arrow">
      <button
        mat-button
        *ngIf="currentPage > 2"
        (click)="selectPage(1)"
        fxShow
        fxHide.lt-sm
      >
        <<
      </button>
      <button
        mat-button
        *ngIf="currentPage > 1"
        (click)="selectPage(currentPage - 1)"
      >
        <
      </button>
    </div>
    <div *ngFor="let page of pages" fxShow fxHide.lt-sm>
      <button
        mat-button
        *ngIf="page > 0 && page <= totalPages"
        (click)="selectPage(page)"
        class="page-button"
        [ngClass]="{ 'selected-page': page == currentPage }"
      >
        {{ page }}
      </button>
    </div>

    <div fxHide fxShow.lt-sm>
      <button *ngIf="currentPage - 1 > 0" mat-button class="page-button" (click)="selectPage(1)">
        1
      </button>
      <button mat-button class="page-button selected-page">
        {{ currentPage }}
      </button>
      <button *ngIf="currentPage != totalPages"  mat-button class="page-button" (click)="selectPage(totalPages)">
        {{ totalPages }}
      </button>
    </div>

    <div class="navigation-arrow">
      <button
        mat-button
        (click)="selectPage(currentPage + 1)"
        *ngIf="currentPage < totalPages"
      >
        >
      </button>
      <button
        mat-button
        (click)="selectPage(totalPages)"
        *ngIf="currentPage < totalPages - 1"
        fxShow
        fxHide.lt-sm
      >
        >>
      </button>
    </div>
  </div>
</div>
