#header {
  .spacer {
    flex: 1 1 auto;
  }
  .bg {
    background: #ffffff 0% 0% no-repeat padding-box!important;
    opacity: 1;
    width: 1366px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 64px;
  }

  .logo {
    margin: 21px 0 19px 24px;
    width: 96px;
    height: 24px;
    opacity: 1;
  }

  .author {
    top: 24px;
    bottom: 24px;
    left: 1027px;
    height: 17px;
    opacity: 1;
    right: 16px;
    .name {
      top: 0px;
      left: 0px;
      height: 17px;
      text-align: left;
      margin-right: 8px;
      font: Bold 14px/20px PT Sans Caption;
      letter-spacing: 0px;
      color: #555555;
    }

    .title {
      top: 0px;
      left: 0px;
      width: 137px;
      height: 17px;
      text-align: left;
      font: Normal 14px/20px PT Sans Caption;
      letter-spacing: 0px;
      margin-right:16px;
      color: #555555;
    }
  }
    .mat-button {
      width: 32px;
      min-width: 32px !important;
      height: 32px;
      margin:16px 24px 16px 0;
      padding: 0px
    }
}
